# Project Overview
ask chatgpt requirements, questions for sql reporting, stat analysis

* Requirements need for this analysis:

# Packages

In [5]:
# Data processing
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# BigQuery API
from google.cloud import bigquery 
import os

# Statistics
from scipy import stats

# Create BigQuery client
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'bq_service.json'
client = bigquery.Client()

# Data gathering
Data: Bigquery public dataset.com
* print out table schema dataframe
* identify relevant tables
* clean, make query, join
* save csv for EDA

In [6]:
%load_ext google.cloud.bigquery

In [12]:
%%bigquery
SELECT name, SUM(number) as count
FROM bigquery-public-data.usa_names.usa_1910_current
GROUP BY name
ORDER BY count DESC
LIMIT 5

Query is running:   0%|          |

Downloading:   0%|          |

      name    count
0    James  5054074
1     John  4910976
2   Robert  4763102
3  Michael  4396482
4  William  3939912

In [3]:
sql = """
SELECT
    plurality,
    COUNT(1) AS count,
    year
FROM
    `bigquery-public-data.samples.natality`
WHERE
    NOT IS_NAN(plurality) AND plurality > 1
GROUP BY
    plurality, year
ORDER BY
    count DESC
"""

client.query(sql).to_dataframe()

     plurality   count  year
0            2  139209  2007
1            2  138866  2008
2            2  137239  2006
3            2  133285  2005
4            2  132344  2004
..         ...     ...   ...
125          5       9  1976
126          5       6  1971
127          5       5  1974
128          5       3  1977
129          5       1  1972

[130 rows x 3 columns]

# Data cleaning, transformation
After scraping the data, I needed to clean it up so that it was usable for our model. 
1. Create copy/views of tables so can clean data

* identfy and remove duplicates
* similar words DIFF()
* consistent formating,data types
* missing values
* consistent field length LENGTH()
* TRIM() unwanted spaces
* spelling errors with REGEX_REPLACE(lower(trim(column_name)), '[^a-zA-Z0-9]+', '')
* date format

I made the following changes:
* Parsed numeric data out of salary
* Made columns for employer provided salary and hourly wages
* Removed rows without salary
* Parsed rating out of company text

Created the following variables:
* Made a new column for company state
* Added a column for if the job was at the company’s headquarters
* Transformed founded date into age of company

create function
cleanse_string (text string)
returns string
as (regex_replace(lower(trim(text)), '[^a-zA-Z0-9]+', '')

# Data Model
* import views into powerbi
* create data model, relationshipd
* power query to validate data (correct datatypes, data view missings,etc)
* final clean,transform data
* screenshot of ETD

# EDA
* SQL analyse data and answer questions, discover insights
* Calculate measures, KPIs -> validate with PowerBI DAX

# Univariate Analysis
I looked at the distributions of the data and the value counts for the various categorical variables. Below are a few highlights from the pivot tables.
* missing values, min, max, mean, median, std, skew, kurtosis
* iqr to detect outliers
* distribution plots
* Prepare data for statistical analysis: remove outliers, missing values

# Bivariate Analysis
* statistics summary,
* +/-, effect, test, p-value
* heteroscedascity, skew, kurtosis
* plots

# t-tests

* I tested statistics from the first three quarters, if they´re significant different from the 4th quarter:
* Reject H0 at the 95% confidence interval for Pace, AST, 3P%,'PTS','FT%
* Can´t reject H0 for DEFRTG and OFFRTG at the 95% confidence interval

# KMeans Clustering
I wanted to know the individual team performance, if some teams step up in the 4th quarter:

The actual top 3 in the standings (Bucks, Lakers, Clippers) grouped in the same cluster + the contenders in the west (Thunder, Mavericks)
Also, the bottom teams were all grouped in one cluster
The other two grouped was teams, who are in the middle or don´t improve much in the 4th quarter to be in the elite cluster

# Conclusion
I couldn´t prove, that the defense improved in the last quarter of the game. The lower scoring average in the 4th is a result of less possessions. Still they´re some teams, who play better in the 4th quarter and it is not a coincidence that this are the top ranked teams of the league. Because of that my claim would be, that the best teams have an on-switch and can play their best, when it matters.
* key insights, patterns
* summarise key drivers of KPIs
* plot
* make recommendations to monitor these key drivers

# Dashboard
In this step, I built a flask API endpoint that was hosted on a local webserver by following along with the TDS tutorial in the reference section above. The API endpoint takes in a request with a list of values from a job listing and returns an estimated salary.